@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.ttf'); /* IE9 Compat Modes */
}
  
body {
    font-family: 'Roboto Slab', serif;
}

.wrapper {
    margin: 20px 60px;
}

i {
    margin: 5px 10px;
}

a, a:hover {
    color: inherit;
    text-decoration: inherit;
}

.topbar-item:hover {
    color: rgb(83, 6, 94);
}


#topbar {
    font-size: 20px;
    margin: 30px 5px;
    padding: 0 10px;
}

#topbar .btn {
    margin: 0;
}

#topbar .col {
    padding: 0 5px;
}

#search-bar {
    border: solid rgb(123, 76, 130) 5px;
    border-radius: 5px;
    width: 200px;
}

#body-container {
    background-color: #f1f7ff;
    border: solid #3bafaf 7px;
    border-radius: 10px;
    padding: 30px;
}

.add-row {
    align-items: center;
    margin: 10px;
}

.thumbnail-container {
    text-align: center;
}

.thumbnail-container .row {
    justify-content: center;
    margin: 10px 0;
}

.thumbnail-row {
    min-height: 200px;
}

.thumbnail {
    object-fit: cover;
    width:230px;
    height:230px;
    border-radius: 10px;
}

.full-thumbnail {
    max-height: 200px;
    border-radius: 10px;
}

.field-header {
    font-weight: bold;
}

.file-field {
    margin: 20px;
}

#button-row {
    display: flex;
    justify-content: flex-end;
}

.btn {
    margin:0 10px;
}

a.btn {
    color: white !important;
}

.btn-primary {
    background-color: rgb(83, 6, 94);
    border-color: rgb(83, 6, 94);
}

.btn-primary:hover {
    background-color: rgb(123, 76, 130);
    border-color: rgb(123, 76, 130);
}

input[type="text"], select, .bootstrap-tagsinput, textarea {
    border: none !important;
    width: 100%;
}


input[type="file"] {
    display: none;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: rgb(123, 76, 130);
    border-color: rgb(123, 76, 130);
}

.tag.label {
    background-color: rgb(123, 76, 130);
    border-radius: 5px;
    padding: 3px;
}

.required-text {
    visibility: hidden;
    color: red;
}