@font-face {
    font-family: 'Roboto Slab Bold';
    src: url('../fonts/RobotoSlab-Bold.ttf'); /* IE9 Compat Modes */
}

.arrow-row {
    margin-left: 0;
}

.category-row, .playlist-row {
    justify-content: space-between;
    margin: 20px 10px 20px 0;
}

#playlist-view {
    border: solid rgb(123, 76, 130) 3px;
    border-radius: 5px;
    padding: 40px;
}

#playlist-row {
    margin: 10px 30px;
    align-items: center;
}

.playlist-name:hover {
    font-family: 'Roboto Slab Bold', serif;
}

.media-file {
    min-height: 120px;
    align-items: center;
}

.thumbnail {
    height: 100px;
    width: 100px;
}