.file-block {
    display: flex;
    padding: 10px;
}

.file-block .row {
    margin: 0;       
}

.thumbnail-container, .details-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.thumbnail-container {
    overflow: hidden;
}

.file-block:hover {
    background-color: #c1f2e9;
    border-radius: 10px;
}

.file-name {
    font-weight: 700;
}