<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <title>{% block title %}My Title{% endblock %}</title>
    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <!-- Base Styles -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.jpg' %}"/>
    
    {% block css %}
    {% endblock css %}
</head>
<body>
    <div class="row" id="topbar">
        {% block topbar %}
        {% endblock topbar %}
    </div>
    <div class="wrapper">
        <div id="body-container" class="row">
            <div class="col col-12">
                {% block main %}
                {% endblock main %}
            </div>
        </div>
    </div>

</body>

<script>
    var json_upload_url = "{% url 'main:json' %}"
    var token = '{{csrf_token}}';
</script>
<script src="{% static 'js/base.js' %}"></script>
{% block js %}
{% endblock js %}