{% extends "base.html" %}
{% load static %}

{% block topbar %}
    {% include 'main_topbar.html' %}
{% endblock topbar %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/categories_playlists_view.css' %}">
{% endblock css %}

{% block main %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">

        <div class="col col-12 col-lg-4">
            <h2>Categories</h2>
            
            <div class="row add-row">
                <div><i class="fas fa-plus"></i></div>
                <div><input name="category" type="text"></div>
                <div><button type="submit" class="btn btn-primary">Add</button></div>
            </div>

            {% for cat in categories %}
                <div class="category">
                    <div class="row category-row">
                        <div><h4>{{cat}}</h4></div>
                        <div><a class="btn btn-danger btn-sm" href="{% url 'main:category_delete' cat.id  %}"><i class="fas fa-trash"></i></a></div>
                    </div>
                    <ul>
                    {% for file in cat.files.all %}
                        <li>{{ file }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>

    </div>
</form>
{% endblock main %}

