{% extends "base.html" %}
{% load static %}

{% block topbar %}
    {% include 'main_topbar.html' %}
{% endblock topbar %}

{% block main %}
<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col col-12 col-lg-6" id="file-details">
            Are you sure you want to delete the category {{ category.name }}?
        </div>
    </div>

    <div class="row" id="button-row">
        <input class="btn btn-danger" type="submit" value="Delete"/>
        <button class="btn btn-primary" type="button" onclick="javascript:history.back()">Back</button>
    </div>
</form>
{% endblock main %}

