{% extends "base.html" %}
{% load static %}

{% block topbar %}
    {% include 'main_topbar.html' %}
{% endblock topbar %}

{% block main %}
<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col col-12 col-lg-4 thumbnail-container">
            <div class="row thumbnail-row">
                <img class="full-thumbnail" src="{{ file.thumbnail.url }}">
            </div>
        </div>

        <div class="col col-12 col-lg-3" id="file-details">
            Are you sure you want to delete {{ file.name }}?
        </div>
    </div>

    <div class="row" id="button-row">
        <input class="btn btn-danger" type="submit" value="Delete"/>
        <button class="btn btn-primary" type="button" onclick="javascript:history.back()">Back</button>
    </div>
</form>
{% endblock main %}

