{% extends "base.html" %}
{% load static %}

{% block topbar %}
    {% include 'main_topbar.html' %}
{% endblock topbar %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/file_add.css' %}">
{% endblock css %}

{% block main %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        
        <div class="col col-12 col-lg-4 thumbnail-container">
            <div class="row thumbnail-row">
                <img id="full-thumbnail" class="full-thumbnail">
            </div>
            <div class="row">
                <input name="thumbnail" id="thumbnail-input" class="btn btn-primary" type="file">
                <div class="col col-12"><button id="upload-thumbnail" class="btn btn-primary" type="button">Upload Thumbnail*</button></div>
                <div class="col col-12 required-text">Required</div>
            </div>
        </div>

        <div class="col col-12 col-lg-3" id="file-details">
            <div class="row file-field">
                <div class="col col-12 field-header">Name*</div>
                <div class="col col-12"><input name="name" id="name" type="text"></div>
                <div class="col col-12 required-text">Required</div>
            </div>
            <div class="row file-field">
                <div class="col col-12 field-header">Categories</div>
                <div class="col col-12">
                    {% for category in categories %}
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkbox-{{category}}" name="checkbox-{{category}}" value="{{category}}">
                        <label class="custom-control-label" for="checkbox-{{category}}">{{category}}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row file-field">
                <div class="col col-12 field-header">Comment</div>
                <div class="col col-12"><textarea name="comment"></textarea></div>
            </div>
            <div class="row file-field">
                <div class="col col-12" id="filename">{{file.filename}}</div>
                <button id="upload-file" class="btn btn-primary" type="button" >Upload File*</button>
                <input name="file" id="file-input"type="file" class="btn btn-primary">
                <div class="col col-12 required-text">Required</div>
            </div>
        </div>

    </div>

    <div class="row" id="button-row">
        <button id="save-button" class="btn btn-primary" type="button">Save</button>
        <button class="btn btn-primary" type="button" onclick="javascript:history.back()">Back</button>
    </div>
</form>
{% endblock main %}

{% block js %}
    <script src="{% static 'js/file_add.js' %}"></script>
{% endblock js %}
