{% extends "base.html" %}
{% load static %}

{% block topbar %}
    {% include 'main_topbar.html' %}
{% endblock topbar %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/file_view.css' %}">
{% endblock css %}

{% block main %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="saved-row" class="row">
        {% if saved %}
        <div id="saved-text" class="col">Saved</div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col col-12 col-lg-4 thumbnail-container">
            <div class="row thumbnail-row">
                <img id="full-thumbnail" class="full-thumbnail" src="{{file.thumbnail.url}}">
            </div>
            <div class="row">
                <input name="thumbnail" id="thumbnail-input" type="file" class="btn btn-primary" value="{{file.file.value}}">
                <button class="btn btn-primary" id="upload-thumbnail" type="button">Upload Thumbnail*</button>
            </div>
        </div>

        <div class="col col-12 col-lg-3" id="file-details">
            <div class="row file-field">
                <div class="col col-12 field-header">Name*</div>
                <div class="col col-12"><input name="name" id="name" type="text" value="{{file.name}}"></div>
                <div class="col col-12 required-text">Required</div>
            </div>
            <div class="row file-field">
                <div class="col col-12 field-header">Categories<br></div>
                <div id="checkboxes" class="col col-12">
                    {% for category in categories %}
                    <div class="custom-control custom-checkbox">
                        <input
                            type='hidden'
                            id="checkbox-{{category.id}}-hidden"
                            name='checkbox-{{category.id}}'
                        >
                        <input
                            type="checkbox"
                            class="custom-control-input"
                            {% if category in file.categories.all %} checked="checked" {% endif %}
                            id="checkbox-{{category.id}}"
                            name="checkbox-{{category.id}}"
                            value="{{category.id}}"
                        >
                        <label class="custom-control-label" for="checkbox-{{category.id}}">{{category}}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row file-field">
                <div class="col col-12 field-header">Comment</div>
                <div class="col col-12"><textarea name="comment">{{file.comment}}</textarea></div>
            </div>
            <div class="row file-field">
                <div class="col col-12 field-header">File</div>
                <div class="col col-12" id="filename">{{file.filename}}</div>
                <input name="file" id="file-input" type="file" class="btn btn-primary">
                <button class="btn btn-primary" type="button" id="upload-file">Upload File*</button>
            </div>
        </div>

        <div class="col col-12 col-lg-4">
            <div class="row file-field">
                <div class="col col-12 field-header">File size</div>
                <div class="col col-12" id="filesize">{{file.file.size|filesizeformat}}<br></div>
            </div>
            <div class="row file-field">
                <div class="col col-12 field-header">File type</div>
                <div class="col col-12" id="filetype">{{file.filetype}}</div>
            </div>
        </div>

        <div class="col col-12 col-lg-1">
            <a href="{% url 'main:file_delete' file.id  %}" class="button btn btn-danger"><i class="fas fa-trash"></i></a>
        </div>
    </div>

    <div class="row" id="button-row">
        <button id="save-button" class="btn btn-primary" type="button">Save</button>
        <button class="btn btn-primary" type="button" onclick="javascript:history.back()">Back</button>
    </div>
</form>
{% endblock main %}

{% block js %}
    <script src="{% static 'js/file_view.js' %}"></script>
{% endblock js %}

