{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}

{% block topbar %}
    {% include 'main_topbar.html' %}
{% endblock topbar %}

{% block main %}
    <div class="row">
    {% for file in files %}
        <div class="col col-12 col-lg-6 file-block" >
            <a href="{% url 'main:file_view' file.id  %}">
                <div class="row">
                    <img class="thumbnail" src="{{ file.thumbnail.url }}">
                    <div class="col row details-container">
                        <div class="col col-12 file-name">
                            {{ file.name }}
                        </div>
                        <div class="col col-12">
                            <div>Categories:</div>
                            {% if file.categories.count %}
                                {{ file.categories.all|join:", " }}
                            {% else %}
                                None
                            {% endif %}
                        </div>
                        <div class="col col-12">
                            <div>Comment:</div>
                            {{ file.comment }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
{% endblock main %}
