<div class="col col-12 col-lg-1">
    <a href="{% url 'main:home' %}" class="topbar-item"><div><i class="fas fa-home"></i></div></a>
</div>
<div class="col col-12 col-lg-2">
    <a href="{% url 'main:file_add' %}" class="topbar-item"><div><i class="fas fa-plus-circle"></i>Add Media File</div></a>
</div>
<div class="col col-12 col-lg-2">
    <a href="{% url 'main:categories_view' %}" class="topbar-item"><div><i class="fas fa-list"></i>View Categories</div></a>
</div>
<div class="col col-12 col-lg-2">
    <a href="{% url 'main:playlists_view' %}" class="topbar-item"><div><i class="fas fa-list"></i>View Playlists</div></a>
</div>
<div class="col col-12 col-lg-3">
    <div>
        <form method="GET" action="{% url 'main:search' %}" id="search-form">
            {% csrf_token %}
            <a href="#"><i class="fas fa-search" id="search-icon"></i></a>
            <input type="search" name="q" id="search-bar" placeholder="Search">
        </form>
    </div>
</div>
<div class="col col-12 col-lg-1">
    <input name="json-upload" id="json-upload" class="btn btn-primary" type="file">
    <div class="col col-12">
        <button id="json-upload-button" class="btn btn-primary btn-sm">Import JSON</button>
    </div>
</div>
<div class="col col-12 col-lg-1">
    <input name="json-download" id="json-download" class="btn btn-primary" type="file">
    <div class="col col-12"><a href="{% url 'main:json' %}"" class="btn btn-primary btn-sm">Export JSON</a></div>
</div>