{% extends "base.html" %}
{% load static %}

{% block topbar %}
    {% include 'main_topbar.html' %}
{% endblock topbar %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/categories_playlists_view.css' %}">
{% endblock css %}

{% block main %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="playlist" class="row">

        <div class="col col-12">
            <h2>{{playlist.name}}</h2>
        </div>

        <div class="col col-12">
            {% for file in mediaFiles %}
                <div id="playlist-row" class="row">
                    <div class="col col-1 custom-control custom-checkbox">
                        <input
                            type='hidden'
                            id="checkbox-{{file.id}}-hidden"
                            name='checkbox-{{file.id}}'
                        >
                        <input
                            class="custom-control-input"
                            type="checkbox"
                            {% if file in playlist.files.all %} checked="checked"{% endif %}
                            id="checkbox-{{file.id}}"
                            name="checkbox-{{file.id}}"
                        >
                        <label class="custom-control-label" for="checkbox-{{file.id}}"></label>
                    </div>
                    <div class="col col-2">
                        <img class="thumbnail" src="{{ file.thumbnail.url }}">
                    </div>
                    <div class="col">
                        {{ file }}
                    </div>
                    <div class="col">
                        {{ file.comment }}
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div>

    <div class="row" id="button-row">
        <button id="save-button" class="btn btn-primary" type="button">Save</button>
        <button class="btn btn-primary" type="button" onclick="javascript:history.back()">Back</button>
    </div>

</form>
{% endblock main %}

{% block js %}
    <script src="{% static 'js/playlist_view.js' %}"></script>
{% endblock js %}


