{% extends "base.html" %}
{% load static %}

{% block topbar %}
    {% include 'main_topbar.html' %}
{% endblock topbar %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/categories_playlists_view.css' %}">
{% endblock css %}

{% block main %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="playlists" class="row">

        <div class="col col-12 col-lg-4">
            <h2>Playlists</h2>
            
            <div class="row add-row">
                <div><i class="fas fa-plus"></i></div>
                <div><input name="playlist" type="text"></div>
                <div><button type="submit" class="btn btn-primary">Add</button></div>
            </div>
            <div class="row arrow-row">
                <i class="fas fa-arrow-down"></i>
                <div>Click on a playlist to see what's in it</div>
            </div>
            
            {% for playlist, data in playlist_data.items %}
                <div class="row playlist-row">
                    <div class="playlist-name col">
                        <a href="#" @click=changePlaylist><h4>{{playlist}}</h4></a>
                    </div>
                    <div class="col col-2"><a class="btn btn-primary btn-sm" href="{% url 'main:playlist_view' data.id  %}"><i class="fas fa-pencil-alt"></i></a></div>
                    <div class="col col-2"><a class="btn btn-danger btn-sm" href="{% url 'main:playlist_delete' data.id  %}"><i class="fas fa-trash"></i></a></div>
                </div>
            {% endfor %}
        </div>

        <div id="playlist-view" class="col col-12 col-lg-8">

            <h3>[[playlist.name]]</h3>

            <div v-if="playlist.files && playlist.files.length">

                <div v-for="p in playlist.files" class="media-file row">
                    <div class="col col-3"><img v-bind:src="[[p.thumbnail]]" class="thumbnail"></div>
                    <div class="col col-3">[[p.name]]</div>
                    <div class="col">[[p.comment]]</div>
                </div>
                
            </div>
            <div v-else>
                <div>No files</div>
            </div>

        </div>
    </div>

</form>
{% endblock main %}

{% block js %}
    <!-- vue.js -->
    <script src="{% static 'js/vue.js' %}"></script>
    <script type='text/javascript'>
        var playlist_data = {{playlist_data|safe}};
    </script>

    <script src="{% static 'js/playlists_view.js' %}"></script>
{% endblock js %}


